[submodule "deps/zint"]
	path = deps/zint
	url = https://github.com/woo-j/zint
[submodule "deps/libpng"]
	path = deps/libpng
	url = https://github.com/glennrp/libpng
[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/madler/zlib
[submodule "deps/emsdk"]
	path = deps/emsdk
	url = https://github.com/emscripten-core/emsdk
